In [168]:
import pandas as pd

In [169]:
stop_times = pd.read_csv("/home/invicta117/Downloads/gtfs/stop_times.txt", delimiter=",")
stops = pd.read_csv("/home/invicta117/Downloads/gtfs/stops.txt", delimiter=",")
routes = pd.read_csv("/home/invicta117/Downloads/gtfs/routes.txt", delimiter=",")
trips = pd.read_csv("/home/invicta117/Downloads/gtfs/trips.txt", delimiter=",")

In [170]:
stop_times["arrival_time"] = pd.to_timedelta(stop_times["arrival_time"])

In [167]:
departure = "16:02"
origin = "Clonskeagh Road, stop 878"
destination = "Dawson Street, stop 793"
day = "tuesday"
bus_route = "11"

In [73]:
route = set(trips[trips["route_id"].isin(list(routes[routes["route_short_name"] == bus_route]["route_id"].values))]["trip_id"].values)

In [78]:
start = stops[stops["stop_name"] == origin]["stop_id"].values[0]
end = stops[stops["stop_name"] == destination]["stop_id"].values[0]

In [30]:
start

'8250DB000878'

In [159]:
end

'8220DB000793'

In [32]:
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,5242.y1005.60-1-d12-1.1.O,21:00:00,21:00:00,8240DB000226,1,Sandymount,0,0,0.00
1,5242.y1005.60-1-d12-1.1.O,21:00:38,21:00:38,8220DB000228,2,Sandymount,0,0,267.48
2,5242.y1005.60-1-d12-1.1.O,21:01:11,21:01:11,8240DB000229,3,Sandymount,0,0,483.53
3,5242.y1005.60-1-d12-1.1.O,21:02:02,21:02:02,8240DB000227,4,Sandymount,0,0,834.47
4,5242.y1005.60-1-d12-1.1.O,21:02:35,21:02:35,8240DB000230,5,Sandymount,0,0,1063.49
...,...,...,...,...,...,...,...,...,...
1627380,6667.y1003.60-H9-b12-1.97.I,08:03:12,08:03:12,8220DB000619,16,Abbey Street,0,0,4745.60
1627381,6667.y1003.60-H9-b12-1.97.I,08:03:50,08:03:50,8220DB000675,17,Abbey Street,0,0,4900.43
1627382,6667.y1003.60-H9-b12-1.97.I,08:05:22,08:05:22,8220DB000620,18,Abbey Street,0,0,5277.76
1627383,6667.y1003.60-H9-b12-1.97.I,08:06:35,08:06:35,8220DB007569,19,Abbey Street,0,0,5497.96
1627384,6667.y1003.60-H9-b12-1.97.I,08:08:47,08:08:47,8220DB007591,20,Abbey Street,0,0,5685.81

In [74]:
start_trips  = set(stop_times[stop_times["stop_id"] == start]["trip_id"].values)
end_trips  = set(stop_times[stop_times["stop_id"] == end]["trip_id"].values)
start_trips = start_trips.intersection(end_trips)
start_trips = start_trips.intersection(route)

In [75]:
start_trips

{'14016.y1004.60-11-b12-1.18.I',
 '14018.y1004.60-11-b12-1.18.I',
 '14020.y1004.60-11-b12-1.18.I',
 '14022.y1004.60-11-b12-1.18.I',
 '14024.y1004.60-11-b12-1.18.I',
 '14026.y1004.60-11-b12-1.18.I',
 '14028.y1004.60-11-b12-1.18.I',
 '14030.y1004.60-11-b12-1.18.I',
 '14032.y1004.60-11-b12-1.18.I',
 '14034.y1004.60-11-b12-1.18.I',
 '14036.y1004.60-11-b12-1.18.I',
 '14038.y1004.60-11-b12-1.18.I',
 '14040.y1004.60-11-b12-1.18.I',
 '14042.y1004.60-11-b12-1.18.I',
 '14044.y1004.60-11-b12-1.18.I',
 '14046.y1004.60-11-b12-1.18.I',
 '14048.y1004.60-11-b12-1.18.I',
 '14050.y1004.60-11-b12-1.18.I',
 '14052.y1004.60-11-b12-1.18.I',
 '14054.y1004.60-11-b12-1.18.I',
 '14056.y1004.60-11-b12-1.18.I',
 '14058.y1004.60-11-b12-1.19.I',
 '14059.y1004.60-11-b12-1.18.I',
 '14061.y1004.60-11-b12-1.18.I',
 '14063.y1004.60-11-b12-1.18.I',
 '14065.y1004.60-11-b12-1.18.I',
 '14066.y1004.60-11-b12-1.18.I',
 '14068.y1004.60-11-b12-1.18.I',
 '14070.y1004.60-11-b12-1.18.I',
 '14072.y1004.60-11-b12-1.19.I',
 '1916.y1003.60-11-b12-1.18.I',
 '1918.y1003.60-11-b12-1.18.I',
 '1920.y1003.60-11-b12-1.18.I',
 '1922.y1003.60-11-b12-1.18.I',
 '1924.y1003.60-11-b12-1.18.I',
 '1926.y1003.60-11-b12-1.18.I',
 '1929.y1003.60-11-b12-1.18.I',
 '1930.y1003.60-11-b12-1.18.I',
 '1933.y1003.60-11-b12-1.18.I',
 '1935.y1003.60-11-b12-1.18.I',
 '1937.y1003.60-11-b12-1.18.I',
 '1939.y1003.60-11-b12-1.18.I',
 '1941.y1003.60-11-b12-1.18.I',
 '1944.y1003.60-11-b12-1.18.I',
 '1945.y1003.60-11-b12-1.18.I',
 '1947.y1003.60-11-b12-1.18.I',
 '1949.y1003.60-11-b12-1.18.I',
 '1951.y1003.60-11-b12-1.18.I',
 '1954.y1003.60-11-b12-1.18.I',
 '1956.y1003.60-11-b12-1.18.I',
 '1958.y1003.60-11-b12-1.18.I',
 '1960.y1003.60-11-b12-1.18.I',
 '1962.y1003.60-11-b12-1.18.I',
 '1964.y1003.60-11-b12-1.18.I',
 '1966.y1003.60-11-b12-1.18.I',
 '1971.y1003.60-11-b12-1.18.I',
 '1985.y1003.60-11-b12-1.18.I',
 '1987.y1003.60-11-b12-1.18.I',
 '1989.y1003.60-11-b12-1.18.I',
 '1991.y1003.60-11-b12-1.18.I',
 '1993.y1003.60-11-b12-1.18.I',
 '1994.y1003.60-11-b12-1.18.I',
 '2000.y1003.60-11-b12-1.18.I',
 '2001.y1003.60-11-b12-1.18.I',
 '2003.y1003.60-11-b12-1.18.I',
 '2016.y1005.60-11-d12-1.16.I',
 '2018.y1005.60-11-d12-1.16.I',
 '2020.y1005.60-11-d12-1.16.I',
 '2022.y1005.60-11-d12-1.16.I',
 '2024.y1005.60-11-d12-1.16.I',
 '2026.y1005.60-11-d12-1.16.I',
 '2029.y1005.60-11-d12-1.16.I',
 '2030.y1005.60-11-d12-1.16.I',
 '2033.y1005.60-11-d12-1.16.I',
 '2035.y1005.60-11-d12-1.16.I',
 '2037.y1005.60-11-d12-1.16.I',
 '2039.y1005.60-11-d12-1.16.I',
 '2041.y1005.60-11-d12-1.16.I',
 '2044.y1005.60-11-d12-1.16.I',
 '2045.y1005.60-11-d12-1.16.I',
 '2047.y1005.60-11-d12-1.16.I',
 '2049.y1005.60-11-d12-1.16.I',
 '2051.y1005.60-11-d12-1.16.I',
 '2054.y1005.60-11-d12-1.16.I',
 '2056.y1005.60-11-d12-1.16.I',
 '2058.y1005.60-11-d12-1.16.I',
 '2060.y1005.60-11-d12-1.16.I',
 '2062.y1005.60-11-d12-1.16.I',
 '2064.y1005.60-11-d12-1.16.I',
 '2066.y1005.60-11-d12-1.16.I',
 '2071.y1005.60-11-d12-1.16.I',
 '2085.y1005.60-11-d12-1.16.I',
 '2087.y1005.60-11-d12-1.16.I',
 '2089.y1005.60-11-d12-1.16.I',
 '2091.y1003.60-11-b12-1.18.I',
 '2091.y1005.60-11-d12-1.16.I',
 '2093.y1005.60-11-d12-1.16.I',
 '2094.y1005.60-11-d12-1.16.I',
 '2100.y1005.60-11-d12-1.16.I',
 '2101.y1005.60-11-d12-1.16.I',
 '2103.y1005.60-11-d12-1.16.I',
 '2191.y1005.60-11-d12-1.16.I',
 '3797.y1003.60-11-b12-1.18.I',
 '3799.y1003.60-11-b12-1.18.I',
 '3801.y1003.60-11-b12-1.18.I',
 '3802.y1003.60-11-b12-1.18.I',
 '3804.y1003.60-11-b12-1.18.I',
 '3806.y1003.60-11-b12-1.18.I',
 '3808.y1003.60-11-b12-1.19.I',
 '3981.y1005.60-11-d12-1.16.I',
 '3983.y1005.60-11-d12-1.16.I',
 '3985.y1005.60-11-d12-1.16.I',
 '3986.y1005.60-11-d12-1.16.I',
 '3988.y1005.60-11-d12-1.16.I',
 '3990.y1005.60-11-d12-1.16.I',
 '3992.y1005.60-11-d12-1.17.I',
 '8698.y1005.60-11-b12-1.18.I',
 '8700.y1005.60-11-b12-1.18.I',
 '8702.y1005.60-11-b12-1.18.I',
 '8704.y1005.60-11-b12-1.18.I',
 '8706.y1005.60-11-b12-1.18.I',
 '8708.y1005.60-11-b12-1.18.I',
 '8710.y1005.60-11-b12-1.18.I',
 '8712.y1005.60-11-b12-1.18.I',
 '8714.y1005.60-11-b12-1.18.I',
 '8716.y1005.60-11-b12-1.18.I',
 '8718.y1005.60-11-b12-1.18.I',
 '8720.y1005.60-11-b12-1.18.I',
 '8722.y1005.60-11-b12-1.18.I',
 '8724.y1005.60-11-b12-1.18.I',
 '8726.y1005.60-11-b12-1.18.I',
 '8728.y1005.60-11-b12-1.18.I',
 '8730.y1005.60-11-b12-1.19.I',
 '8730.y1006.60-11-d12-1.16.I',
 '8732.y1005.60-11-b12-1.18.I',
 '8732.y1006.60-11-d12-1.16.I',
 '8734.y1005.60-11-b12-1.18.I',
 '8734.y1006.60-11-d12-1.16.I',
 '8736.y1005.60-11-b12-1.18.I',
 '8736.y1006.60-11-d12-1.16.I',
 '8738.y1005.60-11-b12-1.18.I',
 '8738.y1006.60-11-d12-1.16.I',
 '8739.y1005.60-11-b12-1.18.I',
 '8740.y1006.60-11-d12-1.16.I',
 '8741.y1005.60-11-b12-1.18.I',
 '8742.y1006.60-11-d12-1.16.I',
 '8743.y1005.60-11-b12-1.18.I',
 '8744.y1006.60-11-d12-1.16.I',
 '8745.y1005.60-11-b12-1.18.I',
 '8746.y1006.60-11-d12-1.16.I',
 '8747.y1005.60-11-b12-1.18.I',
 '8748.y1006.60-11-d12-1.16.I',
 '8749.y1005.60-11-b12-1.18.I',
 '8750.y1006.60-11-d12-1.16.I',
 '8752.y1006.60-11-d12-1.16.I',
 '8754.y1006.60-11-d12-1.16.I',
 '8756.y1006.60-11-d12-1.16.I',
 '8758.y1006.60-11-d12-1.16.I',
 '8760.y1006.60-11-d12-1.16.I',
 '8762.y1006.60-11-d12-1.17.I',
 '8764.y1006.60-11-d12-1.16.I',
 '8766.y1006.60-11-d12-1.16.I',
 '8768.y1006.60-11-d12-1.16.I',
 '8770.y1006.60-11-d12-1.16.I',
 '8771.y1006.60-11-d12-1.16.I',
 '8773.y1006.60-11-d12-1.16.I',
 '8775.y1006.60-11-d12-1.16.I',
 '8777.y1006.60-11-d12-1.16.I',
 '8779.y1006.60-11-d12-1.16.I',
 '8781.y1006.60-11-d12-1.16.I',
 '8916.y1005.60-11-b12-1.18.I',
 '8918.y1005.60-11-b12-1.18.I',
 '8920.y1005.60-11-b12-1.18.I',
 '8922.y1005.60-11-b12-1.18.I',
 '8923.y1005.60-11-b12-1.18.I',
 '8925.y1005.60-11-b12-1.18.I',
 '8927.y1005.60-11-b12-1.18.I',
 '8929.y1005.60-11-b12-1.18.I',
 '8948.y1006.60-11-d12-1.16.I',
 '8950.y1006.60-11-d12-1.16.I',
 '8952.y1006.60-11-d12-1.16.I',
 '8954.y1006.60-11-d12-1.16.I',
 '8955.y1006.60-11-d12-1.16.I',
 '8957.y1006.60-11-d12-1.16.I',
 '8959.y1006.60-11-d12-1.16.I',
 '8961.y1006.60-11-d12-1.16.I'}

In [109]:
departure

'16:02'

In [151]:
correct_direction = []
for trip in start_trips:
    if (stop_times[stop_times["trip_id"] == trip][stop_times["stop_id"] == start]["stop_sequence"].values[0]) < (stop_times[stop_times["trip_id"] == trip][stop_times["stop_id"] == end]["stop_sequence"].values[0]):
        correct_direction.append(trip)

<ipython-input-151-dfd8c27ba327>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if (stop_times[stop_times["trip_id"] == trip][stop_times["stop_id"] == start]["stop_sequence"].values[0]) < (stop_times[stop_times["trip_id"] == trip][stop_times["stop_id"] == end]["stop_sequence"].values[0]):

In [153]:
len(correct_direction)

186

In [154]:
final = stop_times[stop_times["trip_id"].isin(correct_direction)][stop_times["stop_id"] == start][["trip_id","arrival_time"]]

<ipython-input-154-5864fc062e5d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  final = stop_times[stop_times["trip_id"].isin(correct_direction)][stop_times["stop_id"] == start][["trip_id","arrival_time"]]

In [155]:
final["arrival_time"] = abs(final["arrival_time"] - pd.to_timedelta(departure+':00'))

In [156]:
final = final.sort_values(by="arrival_time")

In [158]:
final

                             trip_id    arrival_time
709429   1991.y1003.60-11-b12-1.18.I 0 days 00:00:07
17898    2091.y1005.60-11-d12-1.16.I 0 days 00:00:07
709618  14066.y1004.60-11-b12-1.18.I 0 days 00:02:21
710059   8929.y1005.60-11-b12-1.18.I 0 days 00:14:10
17268    8961.y1006.60-11-d12-1.16.I 0 days 00:14:10
...                              ...             ...
714784   2001.y1003.60-11-b12-1.18.I 0 days 08:59:57
714721   1930.y1003.60-11-b12-1.18.I 0 days 09:19:57
17646    2030.y1005.60-11-d12-1.16.I 0 days 09:19:57
15000    8771.y1006.60-11-d12-1.16.I 0 days 09:21:45
713902   8739.y1005.60-11-b12-1.18.I 0 days 09:21:45

[186 rows x 2 columns]

In [160]:
tripid = final.iloc[0]["trip_id"]

In [174]:
seq = stop_times[stop_times["trip_id"] == tripid][["stop_id", "stop_sequence"]].sort_values(by="stop_sequence")

In [175]:
seq

             stop_id  stop_sequence
709408  8250DB000449              1
709409  8250DB000450              2
709410  8250DB003181              3
709411  8250DB000451              4
709412  8250DB000447              5
...              ...            ...
709466  8220DB000031             62
709467  8220DB000032             63
709468  8220DB000033             64
709469  8220DB007270             65
709470  8220DB006122             66

[63 rows x 2 columns]

In [184]:
seq[seq["stop_id"] == start].index[0]

709429

In [185]:
seq[seq["stop_id"] == end].index[0]

709446

In [200]:
test = seq.loc[709429:709446]

In [201]:
test.merge(stops, how='left', on='stop_id')

,stop_id,stop_sequence,stop_name,stop_lat,stop_lon
0,8250DB000878,22,"Clonskeagh Road, stop 878",53.308153,-6.237091
1,8250DB000879,23,"Annsbrook, stop 879",53.309504,-6.237875
2,8250DB000880,24,"Richview Office Park, stop 880",53.312314,-6.238840
3,8220DB000881,25,"Clonskeagh, stop 881",53.314564,-6.238417
4,8220DB000882,26,"Clonskeagh Hospital, stop 882",53.316705,-6.239155
5,8220DB000883,27,"Eglinton Road, stop 883",53.317685,-6.241036
6,8220DB000884,28,"Norwood Park, stop 884",53.319997,-6.244213
7,8220DB000885,29,"Hollybank Ave Lower, stop 885",53.321259,-6.246293
8,8220DB000886,30,"Merton Drive, stop 886",53.322597,-6.248685
9,8220DB000887,31,"Ranelagh, stop 887",53.324208,-6.252462
10,8220DB000903,32,"Chelmsford Road, stop 903",53.325583,-6.252496
11,8220DB000904,33,"Appian Way, stop 904",53.327417,-6.248848
12,8220DB000906,34,"Leeson St Upper, stop 906",53.328811,-6.247634
13,8220DB000907,35,"St Johns Ambulance, stop 907",53.329719,-6.250750
14,8220DB000908,36,"Grand Parade, stop 908",53.331154,-6.252373
15,8220DB000909,37,"Fitzwilliam Place, stop 909",53.333148,-6.254078
16,8220DB000786,38,"Embassy of Malta, stop 786",53.335147,-6.256174
17,8220DB000793,39,"Dawson Street, stop 793",53.340860,-6.258404

           stop_id                       stop_name   stop_lat  stop_lon
462   8220DB000786      Embassy of Malta, stop 786  53.335147 -6.256174
466   8220DB000793         Dawson Street, stop 793  53.340860 -6.258404
527   8220DB000881            Clonskeagh, stop 881  53.314564 -6.238417
528   8220DB000882   Clonskeagh Hospital, stop 882  53.316705 -6.239155
529   8220DB000883         Eglinton Road, stop 883  53.317685 -6.241036
530   8220DB000884          Norwood Park, stop 884  53.319997 -6.244213
531   8220DB000885   Hollybank Ave Lower, stop 885  53.321259 -6.246293
532   8220DB000886          Merton Drive, stop 886  53.322597 -6.248685
533   8220DB000887              Ranelagh, stop 887  53.324208 -6.252462
540   8220DB000903       Chelmsford Road, stop 903  53.325583 -6.252496
541   8220DB000904            Appian Way, stop 904  53.327417 -6.248848
542   8220DB000906       Leeson St Upper, stop 906  53.328811 -6.247634
543   8220DB000907    St Johns Ambulance, stop 907  53.329719 -6.250750
544   8220DB000908          Grand Parade, stop 908  53.331154 -6.252373
545   8220DB000909     Fitzwilliam Place, stop 909  53.333148 -6.254078
3328  8250DB000878       Clonskeagh Road, stop 878  53.308153 -6.237091
3329  8250DB000879             Annsbrook, stop 879  53.309504 -6.237875
3330  8250DB000880  Richview Office Park, stop 880  53.312314 -6.238840